*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #dddcdc;
}

.calcbox{
  width: 400px;
  /* height: 600px; */
  background-color: #424242;
  border-radius: 20px;
  box-shadow: 02px 04px 10px rgba(0, 0, 0, 0.6);
  padding: 20px;
}
.display{
  width: 100%;
  height: 80px;
  background-color: #e4d7b5;
  border-radius: 10px;
  box-shadow: inset 0px 02px 9px rgba(0, 0, 0, 0.3);
  margin: 20px 0px;
  font-size: 32px;
  font-weight: 600;
  padding: 10px;
  text-align: left;
}

.button div{
  display: flex;
  justify-content: space-between;
}

.button input{
  width: 60px;
  height: 60px;
  margin: 3px;
  border-radius: 50%;
  font-size: 24px;
  font-weight: 600;
  background-color: #d3cccc;
  border: none;
  box-shadow: 02px 4px 6px rgba(0, 0, 0, 0.4);
}